body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.box-about-me {
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  margin: 20px;
  display: inline-block;
  width: 30%;
}

.box-about-me h2 {
  margin: 0 0 20px 0;
}
.box-about-me p {
  margin: 0 0 20px 0;
  line-height: 24px;
}
.box-about-me a {
  display: inline-block;
  padding: 10px 10px;
  background: lightgreen;
  color: brown;
  text-decoration: none;
  font-size: 14px;
  margin-right: 5px;
}
.box-about-me a:hover {
  color: red;
  transform: scale(1.2) rotate(360deg);
  transition: all 3s ease;
}
.box-about-me a .zmdi {
  margin-right: 2px;
}
